<div>
  <ul class="nav nav-tabs">
    <li role="presentation" [ngClass]="{active: chosenList === 'all'}">
      <a (click)="onChoose('all')" style="cursor: pointer" href="#">All</a>
    </li>
    <li role="presentation" [ngClass]="{active: chosenList === 'light'}">
      <a (click)="onChoose('light')" style="cursor: pointer" href="#">Light</a>
    </li>
    <li role="presentation" [ngClass]="{active: chosenList === 'dark'}">
      <a (click)="onChoose('dark')" style="cursor: pointer" href="#">Dark</a>
    </li>
  </ul>
  <app-list [characters]="getCharacters()"></app-list>
</div>
